* {
    margin: 0;
    padding: 0;
    font-family: museo-sans, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0em;
    padding: 0.9375em;
}

/*Menubar*/

header {
    border-bottom: solid 1px #a6c4c4;
    margin-top: 0em;
    height: 2.8em;
}

header button:nth-child(1) {
    background-image: url(img/wowairlogo.png);
    background-size: 100%;
    height: 5.5em;
    width: 5.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header button:nth-child(2) {
    background-image: url(img/wowmember.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    background-color: transparent;
    position: absolute;
    right: 4%;
    top: 1.5%;
    text-align: center;
    border: solid 1px;
    padding: 1 .2em;
    height: 2.7em;
    border-radius: .5em;
    border-color: #880071;
    box-sizing: border-box;
    width: 3.4em;
    white-space: nowrap;
    color: black;
}

header button:nth-child(2) span {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7em;
}

header span {
    font-size: .6em;
    color: #880071;
    padding-top: 10em;
}

#membericon {
    font-size: 2em;
    color: #880071;
}

/*Banner WOW verhalen*/

#wowverhaal {
    background-image: url("img/wowverhalen.png");
    background: fill;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 1em;
    margin-top: 2em;
    max-width: 100%;
    max-width: calc(100% +2em);
    height: 100%;
    object-fit: fill;
    background-size: cover;

}

#wowverhalenbanner1 {
    font-weight: 100;
    color: #F6DE67;
    text-transform: uppercase;
    padding-left: .5em;
    padding-top: .2em;
    padding-bottom: 1em;
}

#wowverhalenbanner2 {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    padding-left: .5em;
    top: 1.7em;
    position: absolute;
}

#wowverhalenbanner3 {
    font-weight: 300;
    font-size: 1em;
    color: white;
    padding-left: .5em;
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 0em;
}

#wowverhalenbanner4 {
    position: absolute;
    right: 1em;
    top: 10.5em;
    margin: 0em;
    padding: 0em;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;
    font-weight: 500;
   
}

/*Filter*/

form {
    background-color: #fafafa;
    box-shadow: .25em .25em #ededed;
    margin-left: 0.938;
    margin-right: 0.938;
}


fieldset:nth-child(1) legend:nth-child(1) {
    display: block;
    font-size: 1.5em;
    transform: translateY(.3em);
    background-color: rgb(109, 16, 92);
    color: white;
    font-weight: 500;
    font-size: 1.15em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
}

legend {
    font-weight: 600;
    font-size: 1em;
    padding-left: 1em;
    margin-bottom: .4em;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1em;
    font-weight: 700;
    margin-left: .5em;
    margin-right: .5em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: .625em;
    padding-bottom: .625em;
    font-weight: 500;
}

ul:nth-child(2) {
    flex-wrap: wrap;
    line-height: 2em;
}


input {
    visibility: hidden;
}

fieldset:nth-child(4) input {
    visibility: visible;
    border: solid rgba(234, 234, 234, 1);
    margin-left: 5%;
    padding: 2%;
    width: 80%;
    border-radius: 0.125em;
    height: 1.4em;
    font-size: 1em;
}

fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}

fieldset div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

div:nth-child(1) button:nth-child(1) {
    background-color: grey;
    border: transparent;
    color: white;
    padding: 1% 4% 1% 4%;
    border-radius: .2em;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: .5em;
}

div:nth-child(1) button:nth-child(2) {
    background-color: #99258d;
    border: transparent;
    color: white;
    padding: 3% 7% 3% 7%;
    border-radius: .2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 2em;
    white-space: nowrap;

}

div:nth-child(2) button {
    background-color: transparent;
    border: solid transparent;
    text-decoration: underline;
    font-weight: 700;
    margin-right: 2em;
    white-space: nowrap;
}


/*Gele achtergrond keuze ul*/

label {
    cursor: pointer;
}

input:checked + label {
    background: rgba(239, 192, 48, 1);
    border-radius: .4em;
    background-origin: padding-box;
    background-attachment: scroll;
    color: black;
    padding: .15em;
}

/*De verhalen onder de filter*/

/*Recent gelezen door gebruikers*/
h1 {
    font-size: 1.4em;
}

section:nth-child(4) p:nth-child(2) {
    font-size: 1em;
    font-weight: 300;
    white-space: nowrap;
}

section:nth-child(4){
    display: flex;
    flex-wrap: wrap;
}

section:nth-child(4) div{
    white-space: nowrap;
    margin-right: 100%;
    margin-bottom: 2%;
}

article {
    max-width: 22em;
    border: solid .001em black;
    margin: 0% 1% 5% 1%;
    padding: 1%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

picture {
    width: 100%;
    height: 10em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
}

picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


article button:nth-child(2) {
    background-color: #99258d;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 1em;
    margin-top: 12.5em;
    margin-bottom: 0;
    height: 2em;
    width: 9em;
    border-color: transparent;   
}

article a {
    padding: 1em;
    color: #99258d;
    height: 1em;
    width: auto;
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-bottom: 1.6em;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3em; 
    white-space: nowrap;
}

article a::after {
    position: absolute;
    border-bottom: .3em solid rgba(239, 192, 48, 1);
    content: '';
    left: .6em;
    right: .6em;
    bottom: 0;

}

article h4 {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    font-size: 1.8em;
    font-weight: 100;
}


article p:first-of-type {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    color: gold;
    margin-top: 2.2em;
}

article p:last-of-type{
    font-size:.7em;
}

button {
    cursor: pointer;
}
